# noeidelon

Foxes dream of electron beams.

https://art.mekanoe.com

## Development

`nix` to install bun... or do it globally.

`bun run .` to generate HTMLs

`bun serve` to serve them locally

## Artworks

<!--/INSERT/-->
