#telemetry {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font: monospace;
    z-index: 100;
    padding: 10px;
    font-size: 12px;
    display: none;
}

#loading {
    display: none;
    z-index: 110;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Fira Code', 'Fira Mono', monospace;

    &.loading-active {
        display: flex;
    }

    & #loading-text {
        background-color: black;
        padding: 1em;
        border-radius: 8px;
        max-width: 80vw;
        word-wrap: break-word;

        & #stage1-error {
            opacity: 0;
            animation: opacity_0_1 1ms 5s forwards 1;
            color: orange;
        }

        & #stage1-error2 {
            opacity: 0;
            animation: opacity_0_1 1ms 10s forwards 1;
        }
    }
}

@keyframes opacity_0_1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


nav {
    position: fixed;
    z-index: 10;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;

    & a {
        display: block;
        color: gold;
        text-decoration: none;
        transition: opacity ease-in-out 0.1s;
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    & .nav-left {
        flex: 1;
        text-align: left;
    }

    & .nav-right {
        flex: 1;
        text-align: right;
    }
}