#telemetry {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font: monospace;
    z-index: 100;
    padding: 10px;
    font-size: 12px;
    display: none;
}

nav {
    position: fixed;
    z-index: 10;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;

    & a {
        display: block;
        color: gold;
        text-decoration: none;
        transition: opacity ease-in-out 0.1s;
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    & .nav-left {
        flex: 1;
        text-align: left;
    }

    & .nav-right {
        flex: 1;
        text-align: right;
    }
}